body { font-family: 'Cabin'; font-style: normal; font-weight: 500; }
h1, h2, h3, h4, h5, h6, .view-tax-mascotas.view-display-id-block .views-row .views-field.views-field-name a, .views-exposed-widgets label, .geolocation-views-map .views-field.views-field-title a { font-family: 'Gloria Hallelujah'; font-style: normal; font-weight: normal; }
